@value mediaQuery from '../../common/size.css';
@value makerWhite from '../../common/colors.css';

.maker {
  width: 100%;
  height: 100%;
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  background-color: makerWhite;
}

.container {
  flex: 1;
  /* 현재 header, container, footer 가 flex 상태 */
  /* 0 : 1 : 0 의 비율로 예상됨 */
  /* 결국 container만 1을 줌으로써 위 아래는 가지고 있는 아이템 만큼의 크기만 가지게 되고 */
  /* 나머지는 container에 귀속 */
  display: flex;
  min-height: 0;
}

@media screen and (max-width: mediaQuery) {
  .container {
    flex-direction: column;
  }
}
